@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 350px;
        height: 700px;
    }

    .container .informacoes {
        padding: 30px 50px;
    }

    .container img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }

    .comprar {
        height: 50px;
    }

    .comprar img {
        width: 20px;
        height: 20px;
    }
}